@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: rgb(0,10,10);
}

a {
  text-decoration: none;
  color: aliceblue;
}

a:hover {
  color: #ff7a7a;
  padding: 6px;
}

header .logo a {
  background-image: url("image/logo.png");
  background-size: 300px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 100px;
  width: 300px;
  text-indent: -999999px;
  position: relative;
  top: -50px;
  left: -30px;
}

li:first-child {
  float: left;
}

li {
  display: inline-block;
  padding-right: 7%;
  margin: 10px 0 0 0;
  font-size: 30px;
}

.topnav {
  list-style: none;
  font-family: 'Roboto Thin';
  color: aliceblue;
  margin: 50px 0 0 0;
  text-align: right;
  text-transform: capitalize;
}

section {
  text-align: center;
  padding: 8%;
  color: aliceblue;
}

section h1 {
  font-size: 36px;
  text-transform: capitalize;
}

#firsttext {
  font-size: 30px;
  text-transform: capitalize;
}

section p {
  font-size: 20px;
}

section .button1 {
  font-family: 'Roboto';
  font-size: 20px;
  color: #151D21;
  background: #ff7a7a;
  display: inline-flex;
  flex-wrap: wrap;
  padding: 6px;
  margin-top: 30px;
  margin-right: 5%;
  margin-left: 5%;
  border: none;
  border-radius: 5px;
  text-transform: capitalize;
}
.videoframe{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

section .button1:hover {
  background: white;
  font-size: 26px;
  margin-top: 29px;
}

.features {
  padding: 8%;
  clear: both;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.features figure {
  display: inline-block;
  width: auto;
  margin: auto;
  padding: 25px;
  margin: 2px;
  position: relative;
  top: 200px;
}

.features figure img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}

figure img:hover {
  filter: brightness(0.7);
}

footer {
  font-family: 'Roboto Thin';
  text-align: center;
  background-attachment: scroll;
  background-position: 0% 0%;
  position: fixed;
  bottom: 0pt;
  color: #ff7a7a;
}

@media screen and (max-width: 1140px) {
  .features figure img {
    width: 50px;
    height: 50px;
  }

  section nav {
    font-family: 'Roboto Thin';
    font-size: 24px;
    line-height: 36px;
    text-align: left;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }

  li {
    font-size: 24px;
  }
}

@media screen and (max-width: 760px) {
  .features figure img {
    width: 25px;
    height: 25px;
  }

  .features figure {
    top: -150px;
  }

  li {
    font-size: 10px;
  }

  section h1 {
    font-size: 42px;
  }

  section p {
    font-size: 16px;
    line-height: 36px;
  }

  footer {
    font-size: 10px;
  }

  header .logo a {
    height: 50px;
    width: 60px;
    background-size: 50px;
  }
}

@media screen and (max-width: 600px) {
  .features figure {
    padding: 65px 10px;
  }

  li {
    font-size: 10px;
  }

  section p {
    font-size: 14px;
    line-height: 26px;
  }

  section .button1 {
    font-size: 10px;
  }

  section .button1:hover {
    background: white;
    font-size: 14px;
    margin-top: 29px;
  }
}
